# Binary directory
bin/*
build/*

# My ycm file. I don't know why the hell it's here but its annoyint
.ycm_extra_conf.pyc

# These are unnecessary, but just in case lol yolo

# From github/gitignore
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
